<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>金坷垃C0编译器</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <h3>
                    金坷垃C0编译器<small><a class="btn" href="tencent://AddContact/?fromId=45&fromSubId=1&subcmd=all&uin=523619372&website=www.oicqzone.com">Tarpe酋长</a></small>
                    
                </h3>
                <ul class="nav nav-list"><li class="divider"></li></ul>
                <h5>施工进度：</h5>
                <div class="progress progress-striped">
                        <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-success" role="progressbar"
                                     aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                     style="width: 90%;">
                                    <span class="sr-only">90% 完成</span>
                                </div>
                            </div>
                    </div>
                <ul class="breadcrumb">
                    <li>
                         <a href="/lexer/">词法分析</a>
                    </li>
                    <li>
                         <a href="/OPG/">算符优先文法分析</a>
                    </li>
                    <li>
                        <a href="/gramma/">语法分析</a>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="row clearfix">
            <div class="col-md-6 column">
                <ul class="nav nav-list"><li class="divider"></li></ul>
                <form class="form-horizontal" role="form" action="/gramma/" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        {% csrf_token %}
                         <label for="customed-grammary">测试程序：</label>
                         <textarea class="form-control" id="customed-grammary" rows="10" name="code" >
                         </textarea>
                    </div>
                    <div class = "form-group">
                        {% csrf_token %}
                        <label for="input_stream">测试输入流（用于scanf）:</label>
                        <textarea class = "form-control" id="input_stream" rows ="2" name="stream">
                        </textarea>
                    </div>
                    <div class="form-group">
                        {% csrf_token %}
                         <label for="InputFile1" >自定义测试文件(可选项,不超过2.5M)</label>
                         <input type="file" id="InputFile1" name="test_file" accept=".txt,.c0"/>
                    </div>
                    <button type="submit" class="btn btn-default">一键分析</button>
                    <ul class="nav nav-list"><li class="divider"></li></ul>
                    <br>
                    <br>
                    <label for="display-code">接收到的代码:</label>
                    <pre id="display-code">
{{ 代码 }}
                    </pre>

                    <label for="display-result">执行结果：</label>
                    <pre id="display-result">
{{ 执行结果 }}
                    </pre>
                </form>
            </div>

            <div class="col-md-6 column">
                <div class="table-responsive">
                {% if 表格1 %}
                    <table class="table table-striped">
                    <caption>变量表</caption>
                    <thead>
                        <tr>
                            <th>name</th>
                            <th>type</th>
                            <th>value</th>
                            <th>addr</th>
                            <th>lev</th>
                        </tr>
                        {{ 表格1 }}
                    </table>
                {% else %}
                    <strong> 分析结果: （您还未输入测试代码）</strong>
                {% endif %}
                </div>
                <div class="table-responsive">
                {% if 表格2 %}
                    <table class="table table-striped">
                    <caption>常量表</caption>
                    <thead>
                        <tr>
                            <th>name</th>
                            <th>value</th>
                        </tr>
                        {{ 表格2 }}
                    </table>
                {% else %}
                {% endif %}
                </div>
                <div class="table-responsive">
                {%  if 表格3 %}
                    <table class="table table-striped">
                    <caption>Pcode</caption>
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Token</th>
                            <th>f</th>
                            <th>x</th>
                            <th>y</th>
                        </tr>
                        {{ 表格3 }}
                    </table>
                {% else %}
                {% endif %}
                </div>
                <div class="table-responsive">
                {% if 表格4 %}
                    <table class="table table-striped">
                    <caption>错误信息</caption>
                    <thead>
                        <tr>
                            <th>Info</th>
                        </tr>
                        {{ 表格4 }}
                    </table>
                {% else %}
                {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if messages %}
    <script>
        {% for msg in messages %}
            alert('{{ msg.message }}')
        {% endfor %}
    </script>            
    {% endif %}
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>